*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box

.backgroundBody
    background-color: white

.phone
    font-size: 18px
    color: white

.link
    color: white
    font-size: 20px
    font-weight: 400
    padding-left: 15px

.navMenu
    color: #242222

.jumbotron p
    color: white
    font-size: 14px

.jumbotron h1
    color: white
    font-size: 60px

.jumbotron h2
    color: white

.jumbotron lead
    color: white

.promo
    background-image: url("/img/truck.jpg")
    background-size: cover

.blog
    background-image: url("/img/blog.jpg")
    background-size: cover

.spacePromo
    margin-top: 50px

.text
    font-size: 14px

.autoParts
    background-image: url("/img/autoParts.jpg")
    background-size: cover

.searchAutopartsField
    margin-right: 20px
    margin-top: 20px
    margin-bottom: 10px
    height: 33px
    width: 400px
    font-size: 16px

.quantityOrder
    width: 35px
    height: 34px
    margin-left: 20px
    margin-bottom: 30px

.quantity
    margin-top: 8px
    font-size: 16px

.list
    list-style: none

.listItem
    color: white
    font-size: 20px

.law
    background-image: url("/img/law.jpg")
    background-size: cover

.ourPartners
    background-image: url("/img/beforeAfter.jpg")
    background-size: cover

.wrapCard
    margin-bottom: 20px

.ourServices
    background-image: url("/img/beforeAfter.jpg")
    background-size: cover

.beforeAfter
    background-image: url("/img/beforeAfter.jpg")
    background-size: cover

.ourPossibilities
    background-image: url("/img/beforeAfter.jpg")
    background-size: cover
